$cobalt-500: #2E3DBE;
$jelly-600: #E15554;
$white: #FFFFFF;
$orange-300: #FFA42E;
$orange-500: #FF9000;
$blue-400: #6683A3;
$blue-600: #45688F;
$gray-100: #D4D4D4;
$gray-300: #AAAAAA;
$gray-400: #808080;
$gray-500: #959595;
$gray-700: #565656;
$gray-800: #414141;
